/* 1. Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Base Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 30px;
  line-height: 35.19px;
  text-align: left; */
}

/* 3. Layout Styles */
.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.service_container {
  position: relative;
  margin-right: 12rem;
}

.block {
  margin-top: 5rem;
}

/* 4. Component Styles */

/* Service Item Container */
.serivice_item {
  width: 192px;
  height: 103px;
  box-shadow: 0px 4px 6px -2px #1118270D, 0px 12px 16px -4px #1118271A;
  border: 1px solid #FFFFFF;
  position: relative;
  border: 10px;
}

.serivice_item h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-left: 3rem;
  color: #292E3D;
  padding-top: 2.2rem;
}

.serivice_item .child {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding-top: 0.4rem;
}

.serivice_item .child img {
  width: 7px;
  height: 18px;
}

.serivice_item .child p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #667299;
}

/* Service Item Illustrations */
.serivice_item .illus_img1 {
  width: 75px;
  height: 75px;
  object-fit: contain;
  position: absolute;
  top: -35px;
  right: -10px;
}

.serivice_item .illus_img2 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: -40px;
}

.serivice_item .illus_img3 {
  width: 60px;
  height: 60px;
  object-fit: contain;
  position: absolute;
  top: -28px;
  right: -10px;
}

.serivice_item4 .illus_img4 {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -30px;
  bottom: -28px;
}

/* Individual Service Item Positioning */
.serivice_item1 {
  right: -120px;
  z-index: 0;
}

.serivice_item2 {
  right: 20px;
  top: -20px;
  z-index: 2;
  margin-left: 4rem;
}

.serivice_item3 {
  right: -120px;
  top: -40px;
  z-index: 3;
}

.serivice_item4 {
  right: 20px;
  top: -60px;
  z-index: 4;
  margin-left: 3rem;
}

/* Block Component Styles */
.block h1 {
  color: #2947A9;
  font-size: 3rem;
  font-weight: 700;
}

.block p {
  color: #525B7A;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  line-height: 1.4;
  letter-spacing: 1px;
  max-width: 350px;
}

.block button {
  background: #2947A9;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 2px;
  margin-top: 1.4rem;
  cursor: pointer;
}

.block button:hover {
  background: #1f4ee7;
}


/* media queries */

@media screen and (min-width: 768px) {
  .section_container {
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    column-gap: 8rem;
  }
}

